<h1>Listing projects</h1>

<section id="projects">

  <% @projects.each do |project| %>
      <section class="project">

        <p class="name"><span>Name: </span> <%= project.name %></p>
        <p class="title"><span>Title: </span><%= project.title %></p>
        <article>
          <span>Details:</span> <%= project.details %>
        </article>
        <article>
          <p>Meta:</p>
          <%= link_to 'Show', project %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        </article>

      </section>

  <% end %>

</section>


<br />

<%= link_to 'New Project', new_project_path %>
