<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Details:</b>
  <%= @project.details %>
</p>

<h2>Tasks</h2>
<%= render @project.tasks %>

<h2>Add a task:</h2>
<%= render "tasks/form" %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
